extends ./layout.jade

block content
  // http://ascii.gallery/art/zy91Hb9q2YpsLjUHt41CRgeF
  pre
    |    |---------------------------------|                    IZZZOZ$ZZZZODDDNNND8OO8OO7Z
    |    |  You ring the Bell of Opening.  |                   ?O8O88O8Z$88888NNNNNDZ$ZZOO7I
    |    |                                 |                 ?8ZO8DDDOO8NNNMNNN8NNDOZZZZZOZ?
    |    |  The Bell of Opening issues an  |                I8OOZZDNNDDDNNMMMMMM8MDDNDD88888O=
    |    |  unsettling, shrill sound.      |               7890ZO8NNMMD8NMMNMMNMNNMMNDNDNNNDDDO
    |    |                                 |              ?OOODO8NNNDDDD8NNMMMMMNMNMNDDNNNNNND87
    |    |                                 |             =O$888D88ZZZOODNMNMMMNNNNNNNMMMNNNNDD88?~
    |    |  Patrick Swayze materializes    |             I$ZODDNDNNNMMMMMMMND8OZZOO8DNMMMNNNDD8N8I
    |    |  out of the haunting mist.      |             $OODDNNMMMMNNNND888Z$$7$$$ZO8DMNNNDNDD8DO~
    |    |---------------------------------|            $DDDNNNNNNNDD888OZZ$7IIII7$ZO8NNNNNNND8ND=
    |                                                  =8DMNMNNDDDD88OOOZ$77IIIII777$ZODNDDDNNNND+
    |                                                  =DNMMMN88888OOZZ$$$77II????I7$$ZO8NNN8DNN8=
    |         ______             ______               :NNMNMNOOZZ$$$777I???+===++?II77$8DNMNNNNNZ
    |           o__.‘\_.-"V"-._/’.__o                 7DNMMMN$$$77I???+++=++====++?I?I7ODMMMNNNNZ
    |         _O/  \.'_\”   “/_`./  \O_               $$DNMMN$OD8O$7I??+=+?????I7$OZI?7$DMMMMMMN8
    |             //           \\                      ~$$ONDD$7$$ZD8$7I??I77$O8OOZZ$7$778NMODMMMN
    |             |>             <|                    :=$88D7$ZODD8O8Z$777$7$ZZOOZ$$$77I7NDZZMMMNO
    |             ||             ||                    :?Z$8+IZZZODN8N87=+7ZODODD8D8O$???8D7ONMNNO
    |             ||_           _||                     :$I$?+?I77$$ZZ$I~~?$$$$7I??II?+??Z8OZ8MMMN
    |             \/\         /\/                        =7$?+++=+++=??+~:+?I?+??++++++??7Z8Z8NNNNZ
    |               `._/|____|\_.'                       :?I???++====??=::=++++====+++??I7Z7$NMNMND
    |                 `-....-'                           :7??I?++==+$++~,~==++=======+??777IIMMMNN8I
    |               --//::::::\\--                       :$7?I+?++?7?++~==++=?I?+?=++???7I$7$MMNNDOI
    |               |//::::::::\\|                       ~$8N??I?I$I+O87II887I?77?I??II?$Z$NMMMNN8$I
    |             \//::::::::::\\/                       =ODD7I777$I??$ZZZOZ7?+I7777I?IIZMMMMMMNDZ7I
    |             \//::::::::::::\\/                      =O88877I777??I77Z$7?I777$IIII?7$MMMMNDDZ77I
    |     /     \ |--------------| /      \               O8DN7777O88OZZ$$$$$$8OZ$III?I77MMNNMM8$77II
    | /-||-\    \  /……………………………………\  /     /-||-\         :$DDD$7$7I+?77I7777I????7I77I7Z7MMMMNDZ$77I
    | |_//_|   \  |----------------|  /    |_\\_|          ::$8DNZZ7I++?7$$Z$I?++??I777$$I7MMNNNDZ$7III
    | //|    \                        /     |\\            =Z8NDN$$I+???=+?????++I777$Z7IINNNDNNO$$7II
    |   |   ////////////////////////////    |               ~ONNNNO7I+========+?I7$$$$77IINNNNNNO$$7I
    |                                                         ~88O$ZZ$7?III???I$7ZOZZ$7IIINDNNNDOZ$7I
    |    |-----------------------------------|                :?$$ZZZZ$$ZZZZOZ$ZZ$77IIID7ODDDO$$7I
    |    |  A Ghost Portal appears.          |               +NI7$$OO8OOZZ$$$ZZZ$77III+~==$8Z$77I
    |    |                                   |            ,,::7DN7I7$ZZZZZ$$$$ZZZ$$7IIID8~~~+.+$$7II
    |    |  Patrick Swayze reveals several   |           ,:,I8:ID7I77$$ZZ$$Z$ZZZZ$$777$~O7?:7+.I$7I
    |    |  ancient Teleportation Scrolls.   |         ,,=?:~$::?N7777$$$ZZZZZZZZ$$$$Z:=$Z~=~~=.::7II
    |    |                                   |       .$OI?::,.,?N777I$$$Z$ZZZZZ$$$Z7?=I8~~?::I:,:=OI
    |    |-----------------------------------|  
  p Which Teleportation Scroll would you like to use?
  ul
    each strategy in strategies
      li
        a(href=strategy.url) #{strategy.name}
