extends ./layout.jade

block content
  p You ring the Bell of Opening. The Bell of Opening issues an unsettling shrill sound.
  // http://ascii.gallery/art/zy91Hb9q2YpsLjUHt41CRgeF
  pre
    |          ______             ______
    |            o__.‘\_.-"V"-._/’.__o
    |          _O/  \.'_\”   “/_`./  \O_
    |              //           \\
    |              |>             <|
    |              ||             ||
    |              ||_           _||
    |              \/\         /\/
    |                `._/|____|\_.'
    |                  `-....-'
    |                --//::::::\\--
    |                |//::::::::\\|
    |              \//::::::::::\\/
    |              \//::::::::::::\\/
    |      /     \ |--------------| /      \
    |  /-||-\    \  /……………………………………\  /     /-||-\
    |  |_//_|   \  |----------------|  /    |_\\_|
    |  //|    \                        /     |\\
    |    |   ////////////////////////////    |
  p A Ghost Portal appears. Which Teleportation Scroll would you like to use?
  ul
    each strategy in strategies
      li
        a(href=strategy.url) #{strategy.name}
